#!/bin/sh

# $Id: initramfs.cfg,v 1.7 2009-08-11 00:53:39 brian Exp $
# Copyright (c)2009 Brian Manning
# elspicyjack (at) gmail dot com
# PLEASE DO NOT E-MAIL THE AUTHOR ABOUT THIS SOFTWARE
# The proper venue for questions is the Antlinux mailing list at:
# http://groups.google.com/group/antlinux or <antlinux@googlegroups.com>

# License: GPL v2 (see licence blurb at the bottom of the file)

# this is a simple script that has nothing but shell variables; this file is
# sourced by make_initramfs.sh in order to set up the build environment for
# making an initramfs image
KERNEL_VER="2.6.26-1-versatile"
PROJECT_NAME="ppclack"
# for the issue file
RELEASE_DATE=$(/bin/date +%d%b%Y)
RELEASE_VER="2009.0 (${RELEASE_DATE})"
DEMO_PASS="dawson32nd"

# export some stuff so other scripts can use it
export KERNEL_VER PROJECT_NAME RELEASE_DATE RELEASE_VER DEMO_PASS

PACKAGES='
    _basedirs _baselibs.lenny udev.lenny
    debug lspci.lenny pam.lenny pam.locales
    lsb-base.lenny openssl wget mount-tools.lenny
    xfs ext2 ext3 extfs-common lvm2.lenny
    dhclient ncursesw.lenny dialog shellinabox 
' # PACKAGES

# sets OUTPUT_FILENAME
find_first_free_filename "/tmp" "initramfs-${PROJECT_NAME}-${KERNEL_VER}"

# run the make release files script
OLD_PWD=$PWD
cd $PROJECT_DIR
sh scripts/make_release_files.sh $KERNEL_VER
cd $OLD_PWD

# *begin licence blurb*
# This program is free software; you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, version 2 of the License.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program; if not, write to the Free Software Foundation, Inc., 59 Temple
# Place, Suite 330, Boston, MA  02111-1307 USA

# vi: set sw=4 ts=4 ft=sh:
# end of line

